{{- if .Values.mosquitto.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: mosquitto-config
data:
  mosquitto.conf: |
    persistence false
    listener 1883
    allow_anonymous {{ ternary "true" "false" .Values.mosquitto.config.allowAnonymous }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mosquitto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mosquitto
  template:
    metadata:
      labels:
        app: mosquitto
    spec:
      containers:
        - name: mosquitto
          image: {{ .Values.mosquitto.image }}
          ports:
            - containerPort: 1883
          volumeMounts:
            - name: mosquitto-config
              mountPath: /mosquitto/config/mosquitto.conf
              subPath: mosquitto.conf
      volumes:
        - name: mosquitto-config
          configMap:
            name: mosquitto-config
---
apiVersion: v1
kind: Service
metadata:
  name: mosquitto
spec:
  type: {{ .Values.mosquitto.service.type }}
  selector:
    app: mosquitto
  ports:
    - port: {{ .Values.mosquitto.service.port }}
      targetPort: 1883
{{- end }}
